<h2 class="page-header">(Kitabı Güncelle)Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">(İptal)Cancel</a>
    <button class="btn btn-primary" type="submit">(Güncelle)Update</button>
  </div>
</form>