<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Mağaza İsmi</a>
    <ul>
      <li><a href="/authors">(Yazarlar)Authors</a></li>
      <li><a href="/authors/new">(Yazar Ekle)Add Author</a></li>
      <li><a href="/books">(Kitaplar)Books</a></li>
      <li><a href="/books/new">(Kitap Ekle)Add Book</a></li>
    </ul>
  </nav>
</header>